
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
 
#container {
	width:auto;
	padding: 0;
	height:auto;
}
.demo_jui {
 	width:710px;
	margin: 10px auto 0 auto;
	*overflow:auto;
	height:auto;
}

.css_right {
	float: right;
}

.css_left {
	float: left;
}

a.button {
    background: transparent url('../images/button-design.gif') no-repeat scroll top right;
    color: #4E4E4E;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
	 text-decoration: none;
    padding-right: 18px; 
}
a.button span {
    background: transparent url('../images/bg_button_span.gif') no-repeat;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#4E4E4E;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 

