.navbar-brand>img {
    max-width: 185px;
    max-height: 80px;
}
form.sow-search {
    z-index: 9;
}
.float-left{
    float: left;
}
.border_style {
    border: 0;
    border-bottom: 1px dashed #97a4af!important;
    cursor: pointer;
}
.border_style:hover {
    color: blue;
}
.w-95{
    width: 95px!important;
}
.qty_form input{
    height: 32px;
}
.qty_form button{
    height: 32px;
    padding-top: 4px;
    font-size: 15px;
}
.scrollable-horizontal{
    z-index: 9!important;
}
.link-muted {
    border-bottom: 1px dashed #97a4af!important;
}
.green_btn {
    background: #6dbb30!important;
    color: #fff;
}
select.plain_text_select.link-muted:hover {
    color: #4285f4;
    cursor: pointer;
}
.ph-35{
    height: 35px;
}
@media(max-width: 767px)
{
    nav.navbar.navbar-expand-lg.navbar-light.justify-content-lg-between.justify-content-md-inherit{
    padding-top: 10px;
}
}
@media only screen and (max-width: 991px){
form.sow-search:not(.sow-search-mobile) {
    display: block!important;
}
a.navbar-brand img {
    padding-bottom: 15px;
    padding-top: 15px;
}
a.btn-sow-search-toggler.btn.btn-light.btn-noshadow.m-0.px-2.py-1.d-inline-block.d-lg-none.btn-sow-search-togglified{
    display: none!important;
}
}
.side_dropdown {
    width: 100px;
    float: right;
    top: 17px;
    position: absolute;
    right: -30px;
}
.select_options .form-control-sm {
    padding: 0px!important;
}
.buy_credit {
    margin-bottom: 10px;
}
.pull-right{
    float: right;
}
.scroll-y{
    max-height: 160px!important;
    overflow-y: scroll!important;
}