body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

/* text */
.text {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.radiotext {
	font-family: Tahoma;
	font-size: 11px;
	color: #999999;
	text-decoration: none;
	font-weight:bold;
}
.text11 {
	font-family: Tahoma;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}

.text11blue {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#404040;
	text-decoration:none;
	line-height:16px;
}

.linktop {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#404040;
	text-decoration:none;
	line-height:16px;
}
.linktop:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#404040;
	text-decoration:underline;
	line-height:16px;
}

.copytext {
	font-family: Tahoma;
	font-size: 11px;
	color: #464646;
	text-decoration: none;
}
.pagetitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color:#464646;
	text-decoration: none;
}
.text11bold {
	font-family: Tahoma;
	font-size: 11px;
	font-weight:bold;
	color: #333333;
	text-decoration: none;
}
#menu {
    width: 99%;
    height: 27px;
    background-image: url('../images/iamges_front/main_bg.gif');
    background-repeat: repeat-x;
    text-align: center; padding-left:5px; padding-right:0px; padding-top:4px; padding-bottom:0
	}
#menu a {
    background-image: url('../images/iamges_front/orange_belt.gif');
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
	font-weight:bold;
    text-decoration: none;
    float: left;
    margin-right: 5px;
    line-height: 17px;
    border: 1px solid #FFFFFF;
    padding-left:12px; padding-right:12px; padding-top:0px; padding-bottom:0px
	}
#menu a:hover {
    background-image: url('../images/iamges_front/blue_belt.gif');
    background-repeat: repeat-x;
    border: 1px solid #FFFFFF;
	color:#FFFFFF;
	}	
#box {
	width:715px;
    height: auto;
    text-align: justify;
    font-family: tahoma;
    font-size: 11px;
    color: #000000;
	}
/* link */
.toplink {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.toplink:hover {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.greylink11 {
	font-family: Tahoma;
	font-size: 11px;
	color: #727272;
	line-height:16px;
	text-decoration: none;
}
.greylink11:hover {
	font-family: Tahoma;
	font-size: 11px;
	color: #515151;
	line-height:16px;
	text-decoration: none;
}
.greylink12bold {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.greylink12bold:hover {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.addlink {
	font-family: Tahoma;
	font-size: 11px;
	color: #999999;
	text-decoration: none;
}
.addlink:hover {
	font-family: Tahoma;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}
.buttonlink {
	background-color:#A9A9A9;
	border:1px solid #bfcbd3;
	font-family:tahoma;
	font-size:11px;
	color:#FFFFFF;
	line-height:17px;
	font-weight:bold;
	padding:1px 6px 1px 6px;
	text-decoration:none;
	}
.buttonlink:hover {
	background-color:#666666;
	}
.buttonred {
    background-color: #76615c;
    padding: 1px 5px 1px 5px;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
	}
.buttonred:hover {
    background-color: #333333;
    padding: 1px 5px 1px 5px;
    border: 1px solid #666666;
    color: #FFFFFF;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
	}
.buttongrey {
    background-color: #666666;
    padding: 1px 5px 1px 5px;
    border: 1px solid #8E6A30;
    color: #FFF;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
	margin:0px;
	}
.buttongrey:hover {
     background-color:#000;
    padding: 1px 5px 1px 5px;
    border: 1px solid #666666;
	color: #FFF;

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
	}	
	
.buttongreyy {
    background-color: #647938;
    border: 1px solid #8E6A30;
    color: #CBD29E;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
	margin:10px;
	margin-left:20px;
	}
.buttongreyy:hover {
    background-color: #CBD29E;
    padding: 1px 5px 1px 5px;
    border: 1px solid #666666;
    color: #FFFFFF;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
	}			

/* form, textarea*/
.textarea1 {
	border:1px solid #E0E0E0;
	width:180px;
	height:16px;
	font-family:Tahoma;
	font-size:11px;
	}
	
.textareafaq {
	border:1px solid #E0E0E0;
	width:300px;
	height:60px;
	font-family:Tahoma;
	font-size:11px;
	}
.textarea2 {
	border:1px solid #E0E0E0;
	width:180px;
	height:100px;
	font-family:Tahoma;
	font-size:11px;
	}
.formtextbg {
	background-color:#E0E0E0;
	}	
.textfieldbig {
    border: 1px solid #E0E0E0 ;
    width: 230px;
    height: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
	}
.textfieldsmall {
    border: 1px solid #E0E0E0;
    width: 160px;
    height: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
	}
.textfieldbig {
    border: 1px solid #E0E0E0;
    width: 230px;
    height: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
	}	
.textarea {
    border: 1px solid #E0E0E0;
    width: 230px;
    height: 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
	}
.listmenu {
    border: 1px solid #E0E0E0;
    height: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
	}		
.error
{
    font-family: tahoma;
    font-size: 11px;
    color: Red;
    text-decoration: none;
}
.document-title {
	font-family: Tahoma;
	font-size: 12px;
	font-weight:bold;
	color:#415D7C;
	text-align:center;	
	line-height:20px;
	text-decoration: none;
	}	
.contain-subtitle {
	font-family:Tahoma;
	font-size: 12px;
	color: #504232;
	font-weight:bold;
	text-indent:5px;
	text-decoration: none;
	}
.link-sample {
	font-family: Tahoma;
	font-size: 12px;
	color: #616161;
	text-decoration: none;
	}
.link-sample:hover {
	font-family: Tahoma;
	font-size: 12px;
	color: #940202;
	text-decoration: none;
	}
.link-page {
	font-family: Tahoma;
	font-size: 12px;
	color: #c12741;
	text-decoration: none;
	font-weight:bold;
}
.link-page:hover {
	font-family: Tahoma;
	font-size: 12px;
	color: #504232;
	text-decoration: none;
	}
.isu
{
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#666666;
font-size:11px;
}
.header-bg {
	/*background:url(../images/images_front/logo-header-inner.jpg) no-repeat;*/
	width:960px;
	height:141px;
}

.brown {
	font-family: Tahoma;
	font-size: 12px;
	font-weight:bold;
	color: #CAB79B;
	text-decoration: none;
}

.deletelink
{
		font-family: Tahoma;
		padding-left:140px;
	    font-size: 12px;
	    font-weight:bold;
	    color: #CAB79B;
		border-bottom:1px thin #CAB79B;
}

.uplink
{
		font-family: Tahoma;
	    font-size: 12px;
	    font-weight:bold;
	    color: #716F64;
	    text-decoration: none;
}
.textareamedium {
    border: 1px solid #CCCCCC;
    width: 430px;
    height: 85px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
	}
a.button {
    background: transparent url('../images/iamges_front/button-design.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
	 text-decoration: none;
    padding-right: 18px; 
}
a.button span {
    background: transparent url('../images/iamges_front/bg_button_span.gif') no-repeat;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#006600;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 
.contacth
{
    font-family: Tahoma;
	font-size: 12px;
	font-weight:bold;
	color: #F0F1EB;
	text-decoration: none;
}

/* left menu */
/*#sliding-navigation
{
  list-style:none;
  padding:10px;
  margin:0px;
}

ul#sliding-navigation
{
	list-style: none;
	font-size: .75em;
	margin: 30px 0;
	padding: 0;
}

.menuheader
{
     color:#422307;
	 font:Verdana ;
	 font-size:18px;
	 font-weight:bold;
	 padding-bottom:20px;
}

#menulink
{
      padding: 5px 18px;
	margin: 0;
	margin-bottom: 5px;
}
*/
li.sliding-element
{
   *margin-left:-20px;
   *padding:0px;
}
.sliding-element
{
    padding-left:10px;
	list-style:none;
	margin:0px;
}
#menulink
{
     color:#A67800;
	 font-size:12px;
	 font-weight:bold;
}

#sliding-navigation
{
	list-style: none;
	font-size: .75em;
	margin: 0px 0;
	padding: 0;
}

/* left menu endshere */

a.button {
    background: transparent url('../images/iamges_front/button-design.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
	 text-decoration: none;
    padding-right: 18px; 
}
a.button span {
    background: transparent url('../images/iamges_front/bg_button_span.gif') no-repeat;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#4E4E4E;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 
.operation
{
   font-family:Verdana, Arial, Helvetica, sans-serif;
   font-size:14px;
   font-weight:bold;
   color:#006633;
}
.gallerylink
{
   font: Arial;
   font-size:12px;
   font-weight:bold;
   color:#515151;  
}
#trform
{
   display:none;
}
.msg
{
   font-family:Verdana, Arial, Helvetica, sans-serif;
   font-size:12px;
   font-weight:bold;
   color:#006633;
}
.imagedispordr
{
  width:40px;
  border:1px solid #B7B7B7;
  text-align:center;
}
.pagetitle1 {
    color: #464646;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    text-decoration: underline;
}
