:root {
    --primary: #0B448C;
    --secondary: #141d21;
    --primary-invert: #fff;
    --secondary-invert: #000;
    --gradient-primary: linear-gradient(230deg, #0B448C, #0B448C);
    --gradient-secondary: linear-gradient(230deg, #0a1f44, #020024);
    --text-primary: #141d21;
    --elements-roundness: 100px;
    --space-between-blocks: 5.3rem;
    --space-between-blocks-small-screens: 3rem;
  }
  
  body {
    font-family: Poppins, sans-serif;
    color: var(--text-primary)
  }
  h2{
    font-size: 2.5rem;
  }
  h3{
    font-size: 2rem;
  }
  h4{
    font-size: 1.5rem;
  }
  h5{
    font-size: 1rem;
  }
  
  .space-between-blocks {
    padding-top: var(--space-between-blocks-small-screens);
    padding-bottom: var(--space-between-blocks-small-screens);
  }
  
  @media (min-width:992px) {
    .space-between-blocks {
      padding-top: var(--space-between-blocks);
      padding-bottom: var(--space-between-blocks);
    }
  }
  
  button {
    color: inherit;
    padding: 0;
    background: 0 0;
    border: none;
  }
  
  button:focus {
    outline: 0;
    box-shadow: none;
  }
  
  .btn {
    font-size: .87rem;
    padding: .9rem 1.6rem;
    border: none;
    border-radius: var(--elements-roundness);
    transition: .2s all;
  }
  
  @media (min-width:992px) {
    .btn {
      padding: .9rem 2rem;
    }
  }
  
  .btn,
  .btn:focus,
  .btn:hover {
    border: none;
    box-shadow: none;
    outline: 0;
  }
  
  .btn:focus,
  .btn:hover {
    transform: scale(1.05);
  }
  
  .btn-primary,
  .btn-primary:focus,
  .btn-primary:hover {
    background: var(--primary);
    color: var(--primary-invert);
  }
  
  .btn-secondary,
  .btn-secondary:focus,
  .btn-secondary:hover {
    background: var(--primary-invert);
    color: var(--secondary-invert);
  }
  
  .btn-primary--empty,
  .btn-primary--empty:focus,
  .btn-primary--empty:hover {
    color: var(--primary);
  }
  
  .btn-sm {
    padding: .8rem;
  }
  
  .highlight {
    color: var(--primary);
  }
  
  .block__header {
    margin-bottom: 4rem;
  }
  
  .block__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
  }
  
  @media (min-width:992px) {
    .block__title {
      font-size: 2rem;
    }
  
    .block__title--big {
      font-size: 3rem;
      line-height: 1.1;
    }
  }
  
  @media (min-width:1200px) {
    .block__title--big {
      font-size: 2rem;
      line-height: 1.2;
    }
  }
  
  .block__paragraph {
    font-size: 1.1rem;
    line-height: 1.5;
    opacity: .9;
    width: 90%;
  }
  
  @media (min-width:992px) {
    .block__paragraph--big {
      font-size: 1rem;
      line-height: 1.6;
    }
  }
  
  .fr-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 5px;
    background: rgba(0, 0, 0, .04);
    margin-bottom: 1.5rem;
    transition: .5s;
  }
  
  .fr-icon--medium {
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
  }
  
  .fr-icon--large {
    font-size: 1.2rem;
    height: 3.25rem;
    width: 3.25rem;
  }
  
  @media (min-width:992px) {
    .fr-icon--large {
      height: 3.8rem;
      width: 3.8rem;
      font-size: 1.9rem;
    }
  }
  ul.sub-container {
  padding: 0;
  display: none;

  list-style: none;
  min-width: 250px;
}
@media(min-width:1023px){
  ul.sub-container {
    position: absolute;
  }
}
ul.sub-container li {
  padding: 5px 10px;
}
li.main-sub:hover .sub-container {
  display: block;
}
  .hero {
    --hero-nav-height: 100px;
    --dropdown-background: white;
    --dropdown-text-color: var(--text-primary);
    --block-background: linear-gradient(to top, rgb(0 0 0 / 3%), transparent);
    --block-text-color: white;
    background: var(--block-background);
    color: var(--block-text-color);
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .hero-nav--is-sticky {
    box-shadow: none;
  }
  
  .hero-nav--is-sticky::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    width: 99999%;
    margin-left: -999%;
    z-index: -1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
  }
  
  .hero-nav {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--hero-nav-height);
    display: flex;
    align-items: center;
    z-index: 9;
  }
  
  .hero-nav__item {
    margin: auto;
    font-size: 1.1rem;
  }
  
  @media (min-width:992px) {
    .hero-nav__item {
      margin: 0 1rem;
    }
  }
  
  @media (min-width:992px) {
    .nav--lg-side {
      flex-direction: row-reverse;
    }
  }
  
  .hero-nav__logo {
    height: 35px;
  }
  
  .hero-nav__link {
    color: inherit;
    opacity: .9;
  }
  
  .hero-nav__link:focus,
  .hero-nav__link:hover {
    color: inherit;
    text-decoration: none;
    opacity: 1;
  }
  
  .ft-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2000;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @media (print),
  (prefers-reduced-motion:reduce) {
    .ft-menu {
      -webkit-animation-duration: 1ms !important;
      animation-duration: 1ms !important;
      -webkit-transition-duration: 1ms !important;
      transition-duration: 1ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
    }
  }
  
  .ft-menu .hero-nav__item {
    width: 100%;
    margin-top: .75rem;
    margin-bottom: .75rem;
  }
  
  @media (min-width:992px) {
    .ft-menu .hero-nav__item {
      width: auto;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  
  .ft-menu--js-show {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
  }
  
  .ft-menu::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: var(--primary);
    opacity: .9;
    z-index: -1;
  }
  
  @media (min-width:992px) {
    .ft-menu {
      -webkit-animation-name: none;
      animation-name: none;
      position: static;
      z-index: auto;
    }
  
    .ft-menu::before {
      content: none;
    }
  }
  
  .ft-menu__slider {
    color: var(--dropdown-text-color);
    background: var(--dropdown-background);
    width: 80%;
    height: 100%;
    overflow: hidden;
    transform: translateX(-100%);
    transition: .5s transform;
  }
  
  @media (min-width:992px) {
    .ft-menu__slider {
      --block-background: transparent;
      color: var(--block-text-color);
      width: auto;
      height: auto;
      background: 0 0;
      transform: none;
      display: flex;
      align-items: center;
    }
  }
  
  .ft-menu--js-show .ft-menu__slider {
    transform: translateX(0);
  }
  
  .ft-menu__close-btn {
    color: var(--primary-invert);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    margin: 1rem;
    transform: translateX(100%);
    transition: .5s transform;
  }
  
  @media (min-width:992px) {
    .ft-menu__close-btn {
      display: none;
    }
  }
  
  .ft-menu--js-show .ft-menu__close-btn {
    transform: translateX(0);
  }
  
  .ft-menu__close-btn:focus,
  .ft-menu__close-btn:hover {
    color: var(--primary-invert);
  }
  
  @-webkit-keyframes fadeIn {
    from {
      visibility: hidden;
      opacity: 0;
    }
  
    to {
      visibility: visible;
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      visibility: hidden;
      opacity: 0;
    }
  
    to {
      visibility: visible;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeOut {
    from {
      visibility: visible;
      opacity: 1;
    }
  
    to {
      visibility: hidden;
      opacity: 0;
    }
  }
  
  @keyframes fadeOut {
    from {
      visibility: visible;
      opacity: 1;
    }
  
    to {
      visibility: hidden;
      opacity: 0;
    }
  }
  
  .fixed-nav-container {
    height: var(--hero-nav-height);
  }
  
  .hero-nav--is-sticky {
    color: var(--dropdown-text-color);
    background: var(--dropdown-background);
    position: fixed !important;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    padding: 1rem !important;
    height: 60px;
    transition: .2s height;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    z-index: 9;
  }
  
  @media (min-width:992px) {
    .hero-nav--is-sticky {
      height: 80px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 1rem .5rem !important;
    }
  }
  
  .hero-nav--is-sticky .ft-menu__slider {
    color: var(--dropdown-text-color);
  }
  
  .hero-nav--is-sticky .btn {
    background: var(--gradient-primary);
    color: var(--primary-invert);
  }
  
  @-webkit-keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .ft-menu__slider .hero-nav__item {
    font-size: 1.1rem;
    padding: 0 1rem;
  }
  
  @media (min-width:992px) {
    .ft-menu__slider .hero-nav__item {
      padding: 0;
    }
  }
  
  .hero-nav__link {
    display: flex;
    align-items: center;
    outline: 0 !important;
  }
  
  .ft-menu__slider {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  @media (min-width:992px) {
    .ft-menu__slider {
      overflow: visible;
    }
  }
  
  .hero-nav__item--with-dropdown {
    position: relative;
    cursor: pointer;
  }
  
  @media (min-width:992px) {
    .hero-nav__item--with-dropdown::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 176%;
    }
  }
  
  .hero-nav__dropdown {
    position: static;
    width: 100%;
    height: auto;
    font-size: .9rem;
    border-top: 1px solid rgba(0, 0, 0, .1);
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: .3s all;
    color: var(--dropdown-text-color);
    text-align: initial;
    cursor: auto;
  }
  
  @media (min-width:992px) {
    .hero-nav__dropdown {
      position: absolute;
      top: 176%;
      left: 0;
      margin-top: 0;
      border-radius: 10px;
      border-top: none;
      box-shadow: 0 14px 50px 0 rgba(0, 0, 0, .1);
      background: var(--dropdown-background);
      z-index: 2;
      max-height: 0;
      padding: 2.3rem 3rem 2rem 2rem;
      overflow: visible;
      transition: .3s all;
    }
  }
  
  .dropdown--important {
    position: absolute;
    width: auto !important;
    top: 176%;
    left: 0;
    margin-top: 0;
    border-radius: 10px;
    border-top: none;
    box-shadow: 0 14px 50px 0 rgba(0, 0, 0, .1);
    background: var(--dropdown-background);
    z-index: 2;
    max-height: 0;
    padding: 2rem;
    padding-right: 3rem;
    overflow: visible;
    transition: .3s all;
  }
  
  @media (min-width:992px) {
    .dropdown--of-1-columns {
      width: 400px;
    }
  
    .dropdown--of-2-columns {
      width: 700px;
    }
  
    .dropdown--language-selector {
      width: 250px;
    }
  }
  
  .hero-nav__item--show-dropdown .hero-nav__dropdown {
    margin-top: 1rem;
    visibility: visible;
    opacity: 1;
    max-height: 9999px;
    padding-top: 1rem;
  }
  
  @media (min-width:992px) {
    .hero-nav__item--show-dropdown .hero-nav__dropdown {
      margin-top: 0;
      padding: 2.3rem 3rem 2rem 2rem;
    }
  }
  
  .hero-nav__item-chevron {
    transition: .3s all;
  }
  
  .hero-nav__item--show-dropdown .hero-nav__item-chevron {
    transform: rotate(180deg);
  }
  
  .hero-nav__item--dropdown-left .hero-nav__dropdown {
    transform: translateX(-15px) !important;
  }
  
  .hero-nav__item--dropdown-left .hero-nav__dropdown::before {
    left: 15%;
    right: auto;
  }
  
  .hero-nav__item--dropdown-right .hero-nav__dropdown {
    transform: translateX(15px) !important;
    left: auto;
    right: 0;
  }
  
  .hero-nav__item--dropdown-right .hero-nav__dropdown::before {
    left: auto;
    right: 15%;
  }
  
  @media (min-width:992px) {
    .hero-nav__item--lg-dropdown-left .hero-nav__dropdown {
      transform: translateX(-15px) !important;
      left: 0;
      right: auto;
    }
  
    .hero-nav__item--lg-dropdown-left .hero-nav__dropdown::before {
      left: 15%;
      right: auto;
    }
  
    .hero-nav__item--lg-dropdown-right .hero-nav__dropdown {
      transform: translateX(15px) !important;
      left: auto;
      right: 0;
    }
  
    .hero-nav__item--lg-dropdown-right .hero-nav__dropdown::before {
      left: auto;
      right: 15%;
    }
  }
  
  .dropdown--important::before {
    content: "";
    width: 17.1px;
    height: 6.85px;
    background: var(--dropdown-background);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  @media (min-width:992px) {
    .hero-nav__dropdown::before {
      content: "";
      width: 17.1px;
      height: 6.85px;
      background: var(--dropdown-background);
      clip-path: polygon(50% 0, 0 100%, 100% 100%);
      position: absolute;
      top: -6px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  
  .dropdown__title {
    color: var(--dropdown-text-color);
    opacity: .7;
    font-weight: 600;
    font-size: .9rem;
    display: block;
    margin-top: .5rem;
    margin-bottom: 1.18rem;
  }
  
  .dropdown__link {
    display: flex;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
    margin-bottom: 1.3rem;
    color: inherit;
    text-decoration: none;
  }
  
  .dropdown__link:focus,
  .dropdown__link:hover {
    color: inherit;
    text-decoration: none;
  }
  
  [javascript-language-selector] .dropdown__link {
    border-radius: .5rem;
    padding: .7rem;
    margin-bottom: 3px;
  }
  
  .dropdown__link::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .dropdown__link:last-child {
    margin: 0;
  }
  
  [javascript-language-selector] .dropdown__link--selected,
  [javascript-language-selector] .dropdown__link:focus,
  [javascript-language-selector] .dropdown__link:hover {
    background: rgba(0, 0, 0, .06);
  }
  
  .dropdown__icon {
    width: 35px;
    height: 35px;
    background-image: var(--gradient-primary);
    color: var(--primary-invert);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
    font-size: 13px;
  }
  
  @media (min-width:992px) {
    .dropdown__icon {
      width: 40px;
      height: 40px;
    }
  }
  
  .dropdown__item {
    max-width: 250px;
  }
  
  .dropdown__item-title {
    font-size: .9rem;
    font-weight: 600;
    line-height: 1.5;
    position: relative;
    z-index: -1;
  }
  
  @media (min-width:992px) {
    .dropdown__item-title {
      white-space: nowrap;
    }
  }
  
  .dropdown__item-title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    width: 100%;
    background: var(--secondary);
    transform: translateY(2px);
    opacity: 0;
    transition: .2s;
  }
  
  [javascript-language-selector] .dropdown__item-title {
    white-space: nowrap;
  }
  
  [javascript-language-selector] .dropdown__item-title::before {
    display: none;
  }
  
  .dropdown__link:focus .dropdown__item-title::before,
  .dropdown__link:hover .dropdown__item-title::before {
    height: 30%;
    transform: translateY(0);
    opacity: .4;
  }
  
  .dropdown__item-description {
    font-size: .9rem;
    opacity: .9;
    margin-top: .3rem;
    margin-bottom: 0;
  }
  
  .dropdown__item-description,
  .dropdown__item-title {
    width: 95%;
  }
  
  .hero__row {
    height: 100%;
  }
  
  .hero_empty-column {
    height: 100%;
  }
  
  .hero__image-column {
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  
  .hero__content {
    text-align: initial;
  }
  
  .hero__body {
    padding-top: 6rem;
    padding-bottom: 3rem;
    position: relative;
    z-index: 1;
  }
  
  @media (min-width:992px) {
    .hero__body {
      padding-top: 7rem;
      padding-bottom: 7rem;
    }
  }
  
  .hero__title {
    font-size: 1.8rem;
    font-weight: 600;
  }
  
  .hero__paragraph {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.7;
    opacity: .98;
  }
  
  @media (min-width:576px) {
    .hero__title {
      font-size: 2.5rem;
      line-height: 1.17;
    }
  
    .hero__paragraph {
      width: 80%;
      margin: auto;
    }
  }
  
  @media (min-width:768px) {
    .hero__title {
      font-size: 3rem;
    }
  }
  
  @media (min-width:992px) {
    .hero__title {
      font-size: 2.5rem;
      line-height: 1.17;
    }
  
    .hero__paragraph {
      font-size: 1.2rem;
      width: 75%;
    }
  }
  
  @media (min-width:1200px) {
    .hero__title {
      font-size: 3.5rem;
      line-height: 1.17;
    }
  }
  
  .hero__btns-container {
    margin-left: -.5rem;
    margin-right: -.5rem;
  }
  
  .hero__btns-container .btn {
    transform: scale(1.15);
  }
  
  .hero__video-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: scale(2);
    transform-origin: top;
  }
  
  @media (min-width:992px) {
    .hero__video-container {
      transform: none;
    }
  }
  
  .hero__video-container::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  video {
    width: 130%;
    left: -15%;
  }
  
  @media (min-width:500px) {
    .block-24__header {
      margin-bottom: 3rem;
    }
  }
  
  .block-24__title {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.4;
  }
  
  @media (min-width:992px) {
    .block-24__title {
      font-size: 1.2rem;
    }
  }
  
  .block-24__logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .block-24__img {
    height: 35px;
    max-width: 50%;
    max-height: 150px;
    opacity: .8;
    transition: .2s all;
    margin: 0 2rem;
    margin-bottom: 2rem;
    filter: brightness(0);
  }
  
  @media (max-width:500px) {
    .block-24__img {
      max-width: 60%;
    }
  }
  
  @media (min-width:768px) {
    .block-24__img {
      max-width: 36%;
    }
  }
  
  .block-24__img:focus,
  .block-24__img:hover {
    opacity: 1;
  }
  
  .block-33 {
    --block-background: white;
    --block-text-color: var(--text-primary);
    background: var(--block-background);
    color: var(--block-text-color);
  }
  
  .block__header {
    margin-bottom: 4rem;
  }
  
  .block-33__img-container {
    margin-top: 5rem;
    text-align: center;
  }
  
  .block-33__img {
    width: 100%;
    border-radius: 10px;
  }
  
  .block-8-scr {
    --space-between-blocks: 2rem;
    --space-between-blocks-small-screens: 0rem;
    --block-background: white;
    --block-text-color: var(--text-primary);
    background: var(--block-background);
    color: var(--block-text-color);
  }
  
  .block-8-scr__li {
    font-size: 1rem;
    font-weight: 600;
    opacity: .9;
    margin-bottom: .8rem;
  }
  
  .block-8-scr__li:last-child {
    margin-bottom: 0;
  }
  
  .plan-features__icon {
    width: 1.1rem;
    height: 1.1rem;
    color: #33c58d;
  }
  
  .block-8-scr__li-icon {
    color: #33c58d;
    transform: scale(1.5);
  }
  
  .block-8-scr__img {
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background: 0 0;
  }
  
  .block-8-scr-scr-dots-svg {
    color: var(--primary);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 150px;
    transform: translate(-38px, 36px);
    clip-path: polygon(24% 62%, 100% 62%, 100% 100%, 0 100%, 0 0, 24% 0);
  }
  
  @media (min-width:992px) {
    .block-8-scr-scr-dots-svg {
      transform: translate(-38px, 36px);
      clip-path: polygon(24% 62%, 100% 62%, 100% 100%, 0 100%, 0 0, 24% 0);
    }
  }
  
  .block-25 {
    --block-background: white;
    --block-text-color: var(--text-primary);
    background: var(--block-background);
    color: var(--block-text-color);
  }
  
  .block-25__header {
    margin-bottom: 4rem;
  }
  
  .block-25__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
  }
  
  @media (min-width:992px) {
    .block-25__title {
      font-size: 3rem;
    }
  }
  
  .block-25__paragraph {
    font-size: 1.1rem;
    line-height: 1.5;
    opacity: .95;
    width: 90%;
  }
  
  .logos__img-container {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .03);
    border: 2px solid #fff;
  }
  
  .logos__img {
    width: auto;
    max-width: 57%;
    max-height: 70%;
    margin: auto;
    transition: .2s all;
  }
  
  .block-61 {
    --block-background: white;
    --block-text-color: var(--text-primary);
    background: var(--block-background);
    color: var(--block-text-color);
  }
  
  .testimonial-card-1 {
    padding: 3rem 2.2rem 2.2rem 2.2rem;
    border-radius: 5px;
    position: relative;
    background: var(--block-background);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .09);
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .testimonial-card-1__paragraph {
    font-size: .95rem;
    opacity: .9;
    line-height: 1.7;
    flex-grow: 1;
    padding-bottom: 1.5rem;
  }
  
  .testimonial-card-1__quote-symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: var(--gradient-primary, --primary);
    color: var(--primary-invert);
    font-size: 1.3rem;
    border-radius: 10rem;
    position: absolute;
    top: -25px;
    left: 30px;
  }
  
  .block-61-person {
    display: flex;
    align-items: center;
    margin-top: -1rem;
  }
  
  .block-61-person__avatar {
    width: 56px;
    height: 56px;
    border-radius: 10rem;
  }
  
  .block-61-person__rating {
    font-size: .75rem;
    color: #ffe200;
  }
  
  .block-61-person__name {
    font-size: .87rem;
    font-weight: 600;
  }
  
  .block-61-person__info {
    font-size: .87rem;
    opacity: .8;
  }
  
  .block-26 {
    --block-background: #f5f5f5;
    --block-text-color: var(--text-primary);
    background: var(--block-background);
    color: var(--block-text-color);
    padding-top: 5.8rem;
    padding-bottom: 5.8rem;
  }
  
  .block-26__title {
    font-size: 2.1rem;
    font-weight: 600;
  }
  
  .block-26__heading {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: .5rem;
  }
  
  .block-26__item {
    margin-bottom: .4rem;
  }
  
  .block-32 {
    --block-background: var(--primary);
    --block-text-color: var(--primary-invert);
    background: var(--block-background);
    color: var(--block-text-color);
  }
  
  .block__header {
    margin-bottom: 4rem;
  }
  
  .block__pre-title {
    color: var(--primary);
    font-size: 1rem;
    font-weight: 600;
  }
  
  .block-44 {
    --block-background: white;
    --block-text-color: var(--text-primary);
    --text-primary: var(--block-text-color);
    background: var(--block-background);
    color: var(--block-text-color);
    font-size: 1rem;
    text-align: center;
  }
  
  @media (min-width:992px) {
    .block-44 {
      text-align: initial;
    }
  }
  
  .block-44__logo-container {
    width: 100%;
    margin-bottom: 2.5rem;
  }
  
  @media (min-width:992px) {
    .block-44__logo-container {
      width: auto;
      flex-grow: 1;
      margin-bottom: 0;
    }
  }
  
  .block-44__logo {
    height: 36px;
  }
  
  .block-44__list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .block-44__li-1 {
    font-weight: 600;
    margin-bottom: .6rem;
    margin: .9rem;
  }
  
  .block-44__li-1::after {
    content: "";
    display: inline-block;
    width: 0;
  }
  
  @media (min-width:992px) {
    .block-44__li-1 {
      margin: 0;
    }
  
    .block-44__li-1::after {
      width: 2.8rem;
    }
  
    .block-44__li-1:last-child::after {
      width: 0;
    }
  }
  
  .block-44__link {
    color: var(--block-text-color);
  }
  
  .block-44__link:focus,
  .block-44__link:hover {
    color: inherit;
    text-decoration: underline;
  }
  
  .block-44__divider {
    margin: 2.4rem 0;
  }
  
  .block-44__extra-links {
    justify-content: center;
  }
  
  @media (min-width:768px) {
    .block-44__extra-links {
      justify-content: flex-start;
    }
  }
  
  .block-44__copyrights {
    color: var(--text-primary);
    line-height: 1.7;
    font-size: .9rem;
  }

.block-12 {
    --block-background: white;
    --block-text-color: var(--text-primary);
    background: var(--block-background);
    color: var(--block-text-color);
    position: relative;
    z-index: 1;
  }
  
  .block-12__shape-for-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 75%;
    background: linear-gradient(to top, rgba(0, 0, 0, .05) 0, transparent 70%);
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }
  
  .block-12-card-1 {
    height: 100%;
    padding: 3rem 1.5rem;
    border-radius: 5px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .09);
    position: relative;
    z-index: 1;
    transition: transform .5s;
    background: #fff;
    overflow: hidden;
  }
  
  @media(min-width:768px) {
    .block-12-card-1 {
      padding: 3rem 2.8rem;
    }
  }
  
  .block-12-card-1::after,
  .block-12-card-1::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    background: rgb(255 255 255 / 19%);
    border-radius: 10rem;
    box-shadow: 0 0 115px 52px rgb(255 255 255 / 60%);
    z-index: -1;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .block-12-card-1::before {
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
  }
  
  .block-12-card-1::after {
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
  }
  
  .block-12-card-1__icon img {
    width: 75px;
    margin-bottom: 1.5rem;
  }
  
  .block-12-card-1__title {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .93rem;
  }
  
  .block-12-card-1__paragraph {
    font-size: 14.4px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    margin-bottom: 0;
  }
  
  .block-12-card-1__content {
    position: relative;
    padding-bottom: 1rem;
    height: 100%;
    z-index: 2;
  }
  
  @media(min-width:768px) {
    .block-12-card-1__content {
      width: 90%;
    }
  }
  
  .mb-2-1rem {
    margin-bottom: 2.1rem;
  }

.block-31 {
  --block-background: white;
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--block-text-color);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.block-31__row {
  height: 300px;
}

@media (min-width:992px) {
  .block-31__row {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
  }
}

.block-31__image-column {
  height: 100%;
  background-position: center;
  background-size: cover;
}

@media (min-width:992px) {
  .block-31__image-column {
    margin: 0 !important;
  }
}

.block-31__li {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.block-31__li:last-child {
  margin-bottom: 0;
}

.block-31__li-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5px;
  background: rgba(0, 0, 0, .04);
  margin-bottom: 1.5rem;
}

.block-31__li-paragraph {
  font-weight: 300;
}

.block-43 {
  --block-background: white;
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--block-text-color);
  font-size: 1rem;
}

.block-43__list {
  display: flex;
  flex-wrap: wrap;
}

.block-43__li-1 {
  font-weight: 600;
  margin: 0 1.2rem;
  margin-bottom: .6rem;
}

@media(min-width:992px) {
  .block-43__li-1 {
    margin: 0 1.8rem;
  }
}

.block-43__link {
  color: var(--block-text-color);
}

.block-43__link:focus,
.block-43__link:hover {
  color: inherit;
  text-decoration: underline;
}

.block-43__copyrights {
  color: var(--text-primary);
  line-height: 1.7;
}
.h75{
  height: 75vh;
}
.h50{
  min-height: 50vh
}
.background-septic{
    background-repeat: no-repeat;
}
@media screen and (min-width:1023px){
  .background-septic{
    background-repeat: no-repeat;
  }
}


.block-41 {
  --block-background: white;
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--block-text-color);
  font-size: .87rem;
}

.block-41__logo {
  height: 36px;
}

.block-41__brand-story {
  font-size: .87rem;
  line-height: 1.7;
}

@media(min-width:768px) {
  .block-41__brand-story {
    width: 90%;
  }
}

.block-41__li-heading {
  font-weight: 600;
  margin-top: .5rem;
  margin-bottom: 1.2rem;
  font-size: .8rem;
  text-transform: uppercase;
}

.block-41__li {
  margin-bottom: .7rem;
  font-size: 1rem;
}

.block-41__extra-link,
.block-41__li-link {
  color: var(--block-text-color);
}

.block-41__extra-link:focus,
.block-41__extra-link:hover,
.block-41__li-link:focus,
.block-41__li-link:hover {
  color: inherit;
  text-decoration: underline;
}

.block-41__divider {
  margin: 1rem 0;
}

.block-41__extra-links {
  justify-content: center;
}

@media(min-width:768px) {
  .block-41__extra-links {
    justify-content: flex-start;
  }
}

.block-41__copyrights {
  width: 90%;
  margin: auto;
  text-align: center;
}

@media(min-width:768px) {
  .block-41__copyrights {
    width: auto;
    text-align: initial;
  }
}
.tab-content {
  display: none;
}
#accordion .tab {
	background: #ffffff;
	padding: 3px 10px;
	margin-bottom: 5px;
	border-radius: 6px;
	box-shadow: 0 4px 8px -4px rgba(0,0,0,0.20);
  cursor: pointer;
}
#accordion .tab h3 {
	font-size: 1.3rem;
	color: #0b448c;
}
.footer-style {
	background: #0b448c;
}
.footer-style .block-41__li-heading {
	color: #dc3545;
	font-size: 1.1rem;
}
.footer-style .block-41__li-link, .footer-style .block-41__brand-story, .footer-style .fab, .footer-style .fas, .footer-style .block-41__copyrights {
	color: #fff;
}
.footer_logo {
	width: 180px;
}




.post {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: .3s all
}

.post__img {
  width: 100%;
  border-radius: 10px;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, .1));
  transition: .5s
}

@media(min-width:992px) {
  .post__content {
    transition: .5s all
  }

  .post:focus .post__content,
  .post:hover .post__content {
    transform: translateY(0)
  }
}



.post__title {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.5
}

.post:focus .post__title,
.post:hover .post__title {
  text-decoration: underline
}

.post__info {
  opacity: .95;
  font-size: .9rem
}

@media(min-width:992px) {
  .post__info {
    transform: translateY(10px);
    opacity: 0;
    transition: .5s all
  }

  .post:focus .post__info,
  .post:hover .post__info {
    transform: translateY(0);
    opacity: 1
  }
}

.post__author {
  position: relative;
  padding-right: 13px;
  margin-right: 13px
}

.post__author::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 90%;
  margin: auto;
  width: 3px;
  transform: rotate(10deg);
  background: var(--primary)
}

.post__link {
  display: inline-block;
  color: var(--block-text-color);
  font-size: 1rem;
  text-decoration: underline
}

@media(min-width:992px) {
  .post__link {
    transform: translateY(-10px);
    opacity: 0;
    transition: .5s all
  }

  .post:focus .post__link,
  .post:hover .post__link {
    transform: translateY(0);
    opacity: 1
  }
}

.post__link-arrow {
  width: 1em;
  height: 1em;
  margin: 0 5px
}
.btn-secondary {
  color: #fff;
  background: #b62226;
  padding: 5px 10px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-secondary:hover {
  color: #fff;
  background: #b62226;
  text-decoration: none;
}
.btn-margin-auto{
  margin: 0 auto;
  display: block;
  max-width: 250px;
}
.banner-landing h1, .banner-landing h2 {
  font-size: 3rem;
  font-weight: 600;
}
.banner-landing p {
  font-size: 2rem;
  font-weight: 600;
}
.header-landing p {
  font-size: 2rem;
}
.header-landing a {
  padding: 10px 20px;
}
