<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
	
	
?>
<style>
.alert{
width:372px !important;
}

.alert a
{
background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#fdfdfd));
background: -moz-linear-gradient(top, #f1f1f1, #fdfdfd);
background: -o-linear-gradient(top, #f1f1f1, #fdfdfd);
background: -ms-linear-gradient(top, #f1f1f1, #fdfdfd);
}
</style>

<?php 
$a=0;
$words = explode('/', $_SERVER['REQUEST_URI']);
$showword = trim($words[count($words) - 1], '/');
if($showword=='free-weekly-gift.html')
{
   $a=1;
}

?>

<?php if(!$_productCollection->count()): ?>
<?php echo $this->getToolbarHtml() ?>

<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products"> <?php echo $this->getToolbarHtml() ?>
  <?php // List mode ?>
  <?php if($a==1): ?>
  <?php $_iterator = 0; ?>
  <ol class="products-list" id="products-list">
    <?php foreach ($_productCollection as $_product):
	$_product->load(); ?>
    <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>" style="height:248px; overflow:hidden;">
      <?php // Product Image ?>
      <div class="list-inner"> <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img class="pr-img" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(170); ?>" width="170" height="170" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /> </a>
	  <?php /* ?>
	  <a href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>' data-fancybox-group="gallery" class='fancybox' id='fancybox<?php echo $_product->getId()?>' style=''><?php echo $this->__('Quick View') ?></a></div>
      <?php */ ?>
	  <?php // Product description ?>
      <div class="product-shop">
        <div class="f-fix">
          <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
          <h2 class="product-name" style="width:500px;"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
		  <ul style="width:400px;">
				<li style="font-style:italic;font-weight:bold;width:400px;"><?php echo $_product->getAttributeText('speaker_name') ?></li>			
			</ul>	
          <div class="desc std" style="width:536px;"> <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?> </div>
        <div class="wrapper" style="display:none;">  <?php // echo $this->getPriceHtml($_product, true) ?>
                 <div class="list-reviews"> <?php echo $this->getReviewsSummaryHtml($_product) ?> </div></div>
          <?php if($_product->isSaleable()): ?>
          <div class="row-list">
          <?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped()) ) { ?>
          
            <p class="list-btn">
              <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocationAjax('<?php echo $this->getAddToCartUrl($_product) ?>','<?php echo $_product->getId()?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
            </p>
            <span id='ajax_loader<?php echo $_product->getId()?>' style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>'/></span>
            <?php } else { ?>
           <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocationAjax('<?php echo $this->getAddToCartUrl($_product) ?>','<?php echo $_product->getId()?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
			<span id='ajax_loader<?php echo $_product->getId()?>' style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>'/></span>
            <?php }  ?>
            </div>
            <?php else: ?>
            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
            <?php endif; ?>
			
            <!-- <ul class="add-to-links">
              <?php if ($this->helper('wishlist')->isAllow()) : ?>
              <li><a href="#" title="<?php echo $this->__('Add to Wishlist') ?>" onclick='ajaxWishlist("<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>","<?php echo $_product->getId()?>");return false;' class="link-wishlist tooltips"><?php echo $this->__('Add to Wishlist') ?></a></li>
              <?php endif; ?>
              <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
              <li><span class="separator">|</span> <a href="#" title="<?php echo $this->__('Add to Compare') ?>" onclick='ajaxCompare("<?php echo $_compareUrl ?>","<?php echo $_product->getId()?>");return false;' class="link-compare tooltips"><?php echo $this->__('Add to Compare') ?></a>
                <div id="results"></div>
              </li>
              <?php endif; ?>
            </ul> -->
			
			
            <span id='ajax_loading<?php echo $_product->getId()?>' style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>'/></span>
     
          </div>
        </div>
    </li>
    <?php endforeach; ?>
  </ol>
  <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
  <?php else: ?>
  <?php // Grid Mode ?>
  <?php $_collectionSize = $_productCollection->count() ?>
  <?php $_columnCount = $this->getColumnCount();//echo $_columnCount; 
	/*if(isset($_GET['speaker_id']) && $_GET['speaker_id'] != ""):
		$_productCollection->addAttributeToFilter("speaker_name",$_GET['speaker_id']);
	endif;*/
  ?>
  <?php $i=0; foreach ($_productCollection as $_product): 
				$_product->load();
  ?>
  <?php if ($i++%$_columnCount==0): ?>
  <ul class="products-grid" style="border-bottom: 1px solid #CCC;margin-bottom:10px;">
    <?php endif ?>
    <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
	        <h2 class="product-name " style="height:auto;">
			<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
			<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
	        <ul>
				<li style="font-style:italic;font-weight:bold"><?php echo $_product->getAttributeText('speaker_name') ?></li>
				<li>SKU : <?php echo $_product->getSku() ?></li>				
			</ul>	
      <div class="desc std"> 
		  <?php $small_description = strip_tags( $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description'));
	         if (strlen($small_description) < '50') echo($small_description);
	         	else {
		          echo substr($small_description, 0, 55);
		          echo '...';
	         }
		  ?> 
      </div>

      <div class="grid-inner" style="height:395px;"> <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img class="pr-img" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(203); ?>" width="203" height="203" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a> 
      <?php /* ?>
	  <a href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>' data-fancybox-group="gallery" class='fancybox' id='fancybox<?php echo $_product->getId()?>' style=''><?php echo $this->__('Quick View') ?></a></div>
      <?php */ ?>
      <div class="product-box-2"> 
	     <div class="product-atr-height">
			 <?php echo $this->getPriceHtml($_product, true) ?> 
			 <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
         </div>
        <div class="actions">
          <?php if($_product->isSaleable()): ?>
          <?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped()) ) { ?>
		  
          <button type="button" style="width:92px;" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocationAjax('<?php echo $this->getAddToCartUrl($_product) ?>','<?php echo $_product->getId()?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
		  
		  <div style="float:left;width:101px; margin-top:-1px; text-align:center; padding-top:1px; background:url('<?php echo $this->getSkinUrl('images/view-product-button.jpg'); ?>') no-repeat;">
		  <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><span style="color:#888888;font:normal 11px/33px Arial, Helvetica, sans-serif;"> VIEW PRODUCT </span></a> 
		  </div>
		 
          <span id='ajax_loader<?php echo $_product->getId()?>' style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>'/></span> 
          <!--<a href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>' class='fancybox' id='fancybox<?php echo $_product->getId()?>' style=''></a>-->
          <?php } else { ?>
          <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocationAjax('<?php echo $this->getAddToCartUrl($_product) ?>','<?php echo $_product->getId()?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
          <?php }  ?>
          <?php else: ?>
          <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
          <?php endif; ?>
          <ul class="add-to-links">
           
            <li>
			
            </li>
            
          </ul>
		  
		
			
        </div>
        <span id='ajax_loading<?php echo $_product->getId()?>' style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>'/></span> 
      </div>
	  
	  <div class="add-to-cart">
  <div class="format-type in-block <?php echo $_product->getAttributeText('media_type') ?> ">
			<strong>Media Format</strong><br/>
			<?php echo $_product->getAttributeText('media_type') ?> 
			</div>
	  </div>		
			
    </li>
    <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
  </ul>
  <?php endif ?>
  <?php endforeach ?>
  <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
  <?php endif; ?>
  <div class="toolbar-bottom"> <?php echo $this->getToolbarHtml() ?> </div>
</div>
<?php endif; ?>

<script type="text/javascript">

function setLocationAjax(url,id){
		url += 'isAjax/1';
		url = url.replace("checkout/cart","ajax/index");
		jQuery('#ajax_loader'+id).show();
		try {
			jQuery.ajax( {
				url : url,
				dataType : 'json',
				success : function(data) {
					jQuery('#ajax_loader'+id).hide();
					if(data.status == 'ERROR'){
									jQuery('body').append('<div class="alert"><div>Hiren</div></div>');
						jQuery('.alert').slideDown(400);
							jQuery('.alert').html(data.message).append('<button></button>');
				jQuery('button').click(function () {
                //jQuery('.alert').slideUp(400);
                 });	

					jQuery('.alert').slideDown('400',function(){
									 	setTimeout(function(){
											jQuery('.alert').slideUp('700000000000000000000000000',function(){jQuery(this).slideUp(700000000000000000000000000)});
										},700000000000000000000000000)
									 });
		}else{
		
		
			
						jQuery('body').append('<div class="alert" style="top:30%;"></div>');
						jQuery('.alert').slideDown(400);
				jQuery('.alert').html(data.message).append('<button></button>');
				jQuery('.alert').html(data.message).wrapInner('<a href="<?php echo $this->getUrl('checkout/cart') ?>"></a>');
				jQuery('.alert').html(data.message).append('<div style="float:left;clear:both;margin-top:20px;"><a href="javascript:void(0);" style="border-bottom: 1px solid #E5E5E5; border-radius: 2px 2px 2px 2px;color: #323232;height: 31px;line-height: 31px;padding-left: 17px;padding-right: 11px; padding-top:10px; padding-bottom:10px;" onClick="hidealert();">Continue Shopping </a>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <a href="<?php echo $this->getUrl('checkout/cart') ?>" style="background: -moz-linear-gradient(center top , #F1F1F1, #FDFDFD) repeat scroll 0 0 transparent;border-bottom: 1px solid #E5E5E5; border-radius: 2px 2px 2px 2px;color: #323232;height: 31px;line-height: 31px;padding-left: 12px;padding-right: 11px; padding-top:10px; padding-bottom:10px;">View Cart</a> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <a href="<?php echo $this->getUrl('checkout/onepage') ?>" style="background: -moz-linear-gradient(center top , #F1F1F1, #FDFDFD) repeat scroll 0 0 transparent;border-bottom: 1px solid #E5E5E5; border-radius: 2px 2px 2px 2px;color: #323232;height: 31px;line-height: 31px;padding-left: 12px;padding-right: 11px; padding-top:10px; padding-bottom:10px;">Checkout</a> </div>');
				jQuery('button').click(function () {
               // jQuery('.alert').slideUp(400);
                 });	
					jQuery('.alert').slideDown('400',function(){
									 	setTimeout(function(){
											// jQuery('.alert').slideUp('400',function(){jQuery(this).slideUp(400)});
										},7000)
									 });

			if(jQuery('.block-cart')){
	            jQuery('.block-cart').replaceWith(data.sidebar);
	        }
						if(jQuery('.block-cart-header')){
	            jQuery('.block-cart-header').replaceWith(data.sidebar_header);
	        }
	        if(jQuery('.header .links')){
	            jQuery('.header .links').replaceWith(data.toplink);
	        }

		}
         	      
				}
			});
		} catch (e) {
		}
	}


function hidealert()
	{
	jQuery('.alert').hide();	
	}	
	
jQuery(document).ready(function() {
 var vmcartck = jQuery('.top-link-cart');
 vmcartck.top = vmcartck.offset().top;
 vmcartck.left = vmcartck.offset().left;
 jQuery('.btn-cart').click(function() {
   var el = jQuery(this);
   var imgtodrag = jQuery('.rwerwe:first');
   if (!imgtodrag.length) {
    elparent = el.parent();
    while (!elparent.hasClass('item')) {
     elparent = elparent.parent();
    } 
    imgtodrag = elparent.find('img.pr-img');
   }
   if (imgtodrag.length) {
    var imgclone = imgtodrag.clone()
     .offset({ top: imgtodrag.offset().top, left: imgtodrag.offset().left })
  .css({'opacity': '0.7', 'position': 'absolute' , 'height':'150px' , 'width': '150px','z-index': '1000'})
     .appendTo(jQuery('body'))
     .animate({
      'top': vmcartck.top+10,
      'left': vmcartck.left+30,
      'width':55,
      'height':55
     },1000, 'linear');
    imgclone.animate({
     'width': 0,
     'height': 0
    });
   }
 });  
 	var maxHeight = 0;
	function setHeight(column) {
		column = jQuery(column);
		column.each(function() {       
			if(jQuery(this).height() > maxHeight) {
				maxHeight = jQuery(this).height();;
			}
		});
		column.height(maxHeight);
	}
	setHeight('.product-name-height');
	setHeight('.product-atr-height');
	
});

</script>
<script type="text/javascript">
	jQuery.noConflict();
	jQuery(document).ready(function(){
		jQuery('.fancybox').fancybox(
			{
			   hideOnContentClick : true,
			   width:800,
			   autoDimensions: true,
               type : 'iframe',
			   showTitle: true,
			   scrolling: 'no',
			   onComplete: function(){
				jQuery('#fancybox-frame').load(function() { // wait for frame to load and then gets it's height
					jQuery('#fancybox-content').height(jQuery(this).contents().find('body').height()+30);
					jQuery.fancybox.resize();
				 });

			   }
			}
		);
	});
	function showOptions(id){
		jQuery('#fancybox'+id).trigger('click');
	}
	function setAjaxData(data,iframe){
		if(data.status == 'ERROR'){
			alert(data.message);
		}else{
			if(jQuery('.block-cart')){
	            jQuery('.block-cart').replaceWith(data.sidebar);
	        }
									if(jQuery('.block-cart-header')){
	            jQuery('.block-cart-header').replaceWith(data.sidebar_header);
	        }
	        if(jQuery('.header .links')){
	            jQuery('.header .links').replaceWith(data.toplink);
	        }


		}
	}
	
	jQuery(".add-to-links li a.tooltips").easyTooltip();
		jQuery(".products-grid .add-to-links .link-wishlist").easyTooltip();
		jQuery(".products-grid .add-to-links .link-compare ").easyTooltip();
		
	
</script>
