/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; z-index:999999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:url(../images/transparent.png) 0 0 repeat;}
#colorbox{ padding-bottom:0!important; border:4px solid #fff; background:#c6c6c6 url(../images/repeat-bg.jpg) repeat-x 0 bottom;}
    #cboxTopLeft{width:21px; height:21px; /*background:url(../images/controls.png) -100px 0 no-repeat;*/}
    #cboxTopRight{width:21px; height:21px; /*background:url(../images/controls.png) -129px 0 no-repeat;*/}
    #cboxBottomLeft{width:21px; height:21px;/* background:url(../images/controls.png) -100px -29px no-repeat;*/}
    #cboxBottomRight{width:21px; height:21px;/* background:url(../images/controls.png) -129px -29px no-repeat;*/}
    #cboxMiddleLeft{width:21px; /*background:url(../images/controls.png) left top repeat-y;*/}
    #cboxMiddleRight{width:21px; /*background:url(../images/controls.png) right top repeat-y;*/}
    #cboxTopCenter{height:21px; /*background:url(../images/border.png) 0 0 repeat-x;*/}
    #cboxBottomCenter{height:21px; /*background:url(../images/border.png) 0 -29px repeat-x;*/}
    #cboxContent{}
        #cboxLoadedContent{/*margin-bottom:28px;*/}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:left; padding-left:60px; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494; display:none!important;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0px; /*background:url(../images/controls.png) -75px 0px no-repeat;*/ width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; /*background:url(../images/controls.png) -50px 0px no-repeat;*/ width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(../images/loading_background.png) center center no-repeat;}
        #cboxLoadingGraphic{background:url(../images/loading.gif) center center no-repeat;}
        #cboxClose{position:absolute; top:-25px; right:-37px; background:url(../images/cross1.png) 0 0 no-repeat; width:41px; height:41px; text-indent:-9999px;}
       /* #cboxClose.hover{background-position:-25px -25px;}*/
