.ddsmoothmenu ul
{
    list-style:none;
    padding-left:50px;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
}

.ddsmoothmenu ul li a:hover{
background:url('../images/menu-active.jpg') repeat-x;
    height:37px;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
background:none;
height:auto;
background-color:#f0f0f0;
margin-left:0px;
padding-left:0px;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
width: 250px;
vertical-align:middle;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
font: normal 11px Verdana;
width: 235px; /*width of sub menus*/
padding: 7px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid gray;
height:20px;
vertical-align:middle;
text-align:left;
padding-left:10px;
}
.ddsmoothmenu ul li ul li a:hover{
   background-color:#8b2b85;
   color:#fff;
   height:20px;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ /*shadow for NON CSS3 capable browsers*/
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
opacity: 0.4;
}
