input[type="tel"]
{
	width: 100%!important;
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.hs-error-msgs{
	padding-left: 0px;
}
.hs-error-msgs li{
	list-style: none;
}
.hs-form-required{
	display: none;
}
.hs_message {
    width: 100%!important;
    height: 160px!important;
}
.col-md-3 .hs_submit{
	    margin-top: -65px;
}
.hbspt-form select{
	background: #fff;
}
#topMain>li>a {
	height:96px;
	line-height:76px;
}
@media (min-width:1020px) and (max-width: 2500px)
{
.revtp-searchform{
        margin-top: 17.6%!important;
}
}
#result2                                                     
	{
		position:absolute;
		padding:10px;                                         
		display:none;
		margin-top:-10px;
		border-top:0px;
		overflow:hidden;
		border:1px #CCC solid;
		background-color: white;
		border:solid 1px #999;
		padding:10px;
		font-size:14px;
       
        z-index:9999;
		width: 82.48%;
        padding-bottom: 0px;
margin-top: -38px;
	}
	.show
	{
		padding: 8px;
		font-size: 15px;
		width: 100%;
		margin-left: 20%;
		border-bottom: 0px solid #ccc!important;
		margin-bottom: 11px;
		margin-top: 0px;
	}
.show a{
text-shadow:none!important;
}
.show span{
text-shadow:none!important;
}
	.show:hover
	{
		background:#EBEBED;
		color:#FFF;
		cursor:pointer;
	}
	
	.show a:hover
	{
		color:#FFF;
		cursor:pointer;
	}
	.left_category{
	float: left;
    margin-top: 20px;
    color: #C0C0C0;
    font-size: 14px;
    margin-left: -3px;
text-shadow:none!important;
	}
	#searchid2:focus {
  border: 1px solid #8a2b83;
}
#result3 {
    position: absolute;
    padding: 10px;
    display: none;
    margin-top: -10px!important;
    border-top: 0px;
    overflow: hidden;
    border: 1px #CCC solid;
    background-color: white;
    border: solid 1px #999;
    padding: 10px;
    font-size: 14px;
    z-index: 9999;
    width: 100%!important;
    padding-bottom: 0px;
    margin-top: 66px!important;
    background: rgba(255,255,255,0.8);
    height: 800px;
    overflow-y: scroll;
}
#result3 .show {
    padding: 8px;
    font-size: 15px;
    width: 100%;
    margin-left: 5%;
    border-bottom: 1px solid #ccc!important;
    margin-bottom: 11px;
    margin-top: 0px;
}
#result3 .show img{
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 6px;
    margin-top: -9px;
    margin-left: -9px;
}
#result3 .left_category {
    float: left;
    margin-top: 20px;
    color: #000!important;
    font-size: 16px;
    margin-left: 5px;
    text-shadow: none!important;
}
#result3 span {
    color: #000!important;
}
#topMain.nav-pills>li {
	margin-left:3px !important;
}
#topMain.nav-pills>li:first-child {
	margin-left:0 !important;
}
#topMain>li>a>span.theme-color {
	padding:10px 15px;

	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
}
#header.fixed #topMain>li>a {
	margin-top:10px;
}

#topMain.nav-pills>li>a {
	color:#1F262D;
	font-weight:400;
	background-color:transparent;
	padding-left:0 !important;
	padding-right:0 !important;
} 
#topMain.nav-pills>li:hover>a, 
#topMain.nav-pills>li:focus>a {
	color:#1F262D;
}
#topMain.nav-pills>li.active>a>span.theme-color,
#topMain.nav-pills>li:hover>a>span.theme-color, 
#topMain.nav-pills>li:focus>a>span.theme-color {
	background-color:rgba(0,0,0,0.01);
}
#header.fixed #topNav #topMain>li>a {
	margin-top:0px;
}
#topMain.nav-pills>li.active>a {
	color:#fff;
}

#topNav .navbar-collapse {
	float:right;
}

#topNav a.logo {
	height:96px;
	line-height:96px;
	overflow:hidden;
	display:inline-block;
}

.hs-form fieldset{
	max-width: 100%!important;
}
.hbspt-form input[type="text"]
{
	width: 100%!important;
	display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.hbspt-form select
{
	width: 100%!important;
}
.hbspt-form input[type="submit"]
{
color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 35px;
   }
.hbspt-form input[type="email"]
{
	width: 100%!important;
	display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#header ul.nav-second-main {
	border-left:0;
}
.hs_message {
    width: 100%!important;
    height: 225px!important;
}
.hbspt-form textarea{
	width: 100%!important;
    height: 175px!important;
    text-indent: 10px;
}
.hs-form label {
    font-weight: bold;
    margin-top: 15px!important;
}

@media only screen and (max-width: 1024px) {
	#topMain.nav-pills>li>a {
		font-size:13px;
	}
}

@media only screen and (max-width: 992px) {
	#topMain.nav-pills>li {
		margin-left:0 !important;
	}
	#topMain>li>a>span.theme-color {
		color:#151515;
		display:block !important;
		padding-top:0;
		height:40px;

		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
				border-radius: 0;
	}
	#topMain>li.active>a>span.theme-color {
		color:#fff;
	}

	/* Force 60px */
	#header {
		height:60px !important;
	}
	#header #topNav a.logo {
		height:60px !important;
		line-height:50px !important;
	}
	#header #topNav a.logo>img {
		max-height:60px !important;
	}
	#header #topNav #topMain>li>a {
		height:40px !important;
		line-height:40px !important;
		padding-top:0;
	}


	#topMain>li {
		border-bottom:rgba(0,0,0,0.1) 1px solid;
	}
	#topMain>li:last-child {
		border-bottom:0;
	}

		#header li.search .search-box {
			margin:0 !important;
			position:fixed;
			left:0; right:0;
			top:60px !important;
			width:100%;
			background-color:#fff;
			border-top:rgba(0,0,0,0.1) 1px solid;
		}
}
