
body{margin:0px; padding:0px; background:#ffffff url(http://www.freshlifefloral.com/images/bg.jpg) center top repeat-x; font:normal 12px arial, "Times New Roman", Times, serif; color:#1c232a; overflow-x:hidden;}

body{margin:0px; padding:0px; background:#ffffff; font:normal 12px arial, "Times New Roman", Times, serif; color:#1c232a; overflow-x:hidden;}


body, html {height:100%}
/* HTML5 tags */
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,nav,section,summary{ display: block;}
.audio, canvas, video {display: inline-block; *display: inline; *zoom: 1; }
.audio:not([controls]) { display: none; }
.[hidden] { display: none; }

dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,span,strong,form,fieldset,table,th,tr,td,input,label,select,div{margin:0px; padding:0px; }
input, textarea, select{}
* {margin:0px; padding:0px;}
a {outline:none; text-decoration: underline;}
.fl {float:left;}
.fr {float:right!important;}
img {border:none; line-height:0px; font-size:0px; outline:none;}
.cl {clear:both; line-height:0px!important; font-size:0px!important; height:0px!important;}
.no-bdr {border:none!important;}

/*---- layout ----*/
.wrapper{width:100%; margin:0px auto; display:block;}


/*---- header ----*/
header {padding:0px 0 6px; width:1000px; margin:0px auto; display:block;}
header .logo {width:auto; padding:45px 0 13px 50px; display:block;}
header .rightblock{width:auto; padding:0px; float:right}
header .user-ctrl{width:auto; padding:0px 0px 0 0px; margin-top:35px; margin-right:14px;}
header .user-ctrl ul{width:auto; padding:0; list-style-type:none;}
header .user-ctrl ul li{width:auto; padding:30px 2px 0 0px; float:right; font-size:20px; display:block;}
header .user-ctrl ul li.last a{background:none!important;}
header .user-ctrl ul li a {color:#8a2b85; font-family:"MyriadProRegular", arial; font-style:italic; /*background:url(http://www.freshlifefloral.com/images/toplink-sep.png) right 2px no-repeat;*/ padding:0; text-decoration:none}
header .user-ctrl ul li a:hover{text-decoration:underline}
header .user-ctrl-2{width:auto; padding:0px 26px 0 0px; margin-top:45px;}
header .user-ctrl-2 ul{width:auto; padding:0px 2px; list-style-type:none;}
header .user-ctrl-2 ul li{width:auto; padding:0px 0 0 0px; float:left; font-size:14px; display:block;}
header .user-ctrl-2 ul li.last a{background:none!important;}
header .user-ctrl ul-2 li a {color:#ff7200; background:url(http://www.freshlifefloral.com/images/toplink-sep.png) right 2px no-repeat; padding:0px 10px 0px 10px;}
header nav {display:block; list-style-type:none; height:37px; position:relative; width:602px;}
header nav ul {list-style-type:none; text-align:left;}
header nav ul li {display:block; padding:0px;  float:left;}
header nav ul li a{font-family:'MyriadProRegular', Arial; font-size:16px; color:#555555; text-align:center; text-decoration:none; display:block; font-weight:normal; padding:0px 0px 0 5px;}
header nav ul li a span{display:block; background:url(http://www.freshlifefloral.com/images/nav-sep.gif) right 5px no-repeat; padding:4px 14px 6px 10px;} 
header nav ul li a:hover{background:url(http://www.freshlifefloral.com/images/navbg-left.png) left top no-repeat; margin-left:-1px; text-decoration:none; }
header nav ul li a:hover span{display:block; background:url(http://www.freshlifefloral.com/images/navbg-right.png) right top no-repeat; padding-left:11px; color:#fff; }
header nav ul li a.cur{background:url(http://www.freshlifefloral.com/images/navbg-left.png) left top no-repeat; margin-left:-1px; text-decoration:none;}
header nav ul li a.cur span{display:block; background:url(http://www.freshlifefloral.com/images/navbg-right.png) right top no-repeat; padding-left:11px; color:#fff;}  
.top_links{ width:364px; margin-bottom:20px; display:block }
.top_links a.signin{ margin: 20px 0px 0; float:right; width:78px; height:40px;}
.top_links a.signup{ margin: 20px 10px 0; float:right; width:78px; height:40px;}
header nav ul li.last a span { background:none}
header nav ul li.last a:hover span {display:block; background:url(http://www.freshlifefloral.com/images/navbg-right.png) right top no-repeat; padding-left:11px}

/*---- header ends ----*/

.fixed-div { left:0px; position:fixed; top:50%; z-index:999; height:183px; margin-top:-92px}
.proposal a{ text-decoration:none;}
.call-back a{ text-decoration:none;}
.call-back {display:none}


/*---- footer ----*/
.footerwraper{width:100%; background:url(http://www.freshlifefloral.com/images/footer-bg.jpg) left top repeat-x; padding:0px; display:block; min-height:299px;}
footer {width:1000px; margin:0px auto; display:block;}
footer nav{list-style-type:none; width:400px; float:left; margin-top:25px;}
footer nav ul {list-style-type:none; text-align:left; padding-bottom:4px; float:left; padding-left:20px;}
footer nav ul li {display:block; padding:2px 10px; color:#ffffff; width:150px; background:url(http://www.freshlifefloral.com/images/footer_li.png) repeat-x bottom left;}
footer nav ul li.first {background:none; padding-left:0}
/*footer nav ul li.line { background:url(http://www.freshlifefloral.com/images/footer_li.jpg) repeat-x;}*/
footer nav ul.last{width:185px;}
footer nav ul li a {font-family:'MyriadProRegular', Arial; font-size:16px; color:#fff; text-align:left; text-decoration:none; font-weight:normal; line-height:30px;}
footer nav ul li a:hover, nav ul li a.cur {text-decoration:none; /*color:#db251c; background:url(http://www.freshlifefloral.com/images/nav-bg-hover.gif) left top repeat;*/ text-decoration:underline}
footer .social-network {width:485px; display:block; float:right; margin-top:25px;}
footer .social-network p {font-family: 'MyriadProCondensed', Arial; font-size:28px; color:#FFF; text-decoration:none; display:block; padding:0px 0px 0 0px; float:left; font-weight:bold }
footer .social-network p a{color:#fff;}
footer .social-network .italic{  font-family: 'AngelinaRegular'; font-size:21px; line-height:20px; color:#33491c; font-weight:normal; display:block; padding-bottom:5px; }
footer .social-network .input_box{ background:url(http://www.freshlifefloral.com/images/input_box.png) no-repeat; width:295px; height:39px; float:left;}
footer .social-network .input_text{width: 290px; height: 25px; color: #7b7b7b; font-size: 14px; line-height:25px; padding:9px 5px; background: none; border: none;}
footer .social-network .submit_btn{ width:103px; height:41px; float:left; display:block; margin-left:10px;}
footer .social-network .social-icons{ width:485px; margin-top:20px; float:left}
footer .social-network .social_icons_image{ float:left; margin-left:10px}

.copyright-wrap{ width:100%; display:block;}
.copyright-wrap .copyright{width:992px; margin:0px auto; text-align:right; color:#b2b2b2; padding:15px 5px; font-family:Arial, Helvetica, sans-serif; }
.copyright-wrap .copyright .website-by {float:left;}
.copyright-wrap .copyright .website-by a {color:#999; font-weight:bold;}
/*---- footer end----*/



/*---- banner  Starts ----*/
.wrapper_banner { min-height:510px; display:block; }
.wrapper_banner .banner1flex1 { width:100%; background:url(http://www.freshlifefloral.com/images/banner-flex.jpg) center top no-repeat}
.wrapper_banner .banner2flex2 { width:100%; background:url(http://www.freshlifefloral.com/images/banner-flex2.jpg) center top no-repeat}
.wrapper_banner .banner3flex3 { width:100%; background:url(http://www.freshlifefloral.com/images/banner-flex3.jpg) center top no-repeat}
.wrapper_banner .banner { width:1000px; margin:0 auto 0; height:480px; padding-top:30px; }
#carousel_banner {	width:100%; height:510px; margin:0 auto;	overflow:hidden;}
#slides_banner {overflow:hidden;/* fix ie overflow issue */ position:relative; width:100%; height:510px;}

/* remove the list styles, width : item width * total items */	
#slides_banner ul {position:relative;	left:0;	top:0;	list-style:none;margin:0;padding:0;	width:100%!important;}

/* width of the item, in this case I put 250x250x gif */
#slides_banner li { width:100%!important; height:510px; float:left; background:url(http://www.freshlifefloral.com/images/bg-banner.png) repeat-x top left; }
#slides_banner li.gray-bg {background:url(http://www.freshlifefloral.com/images/bg-banner-gray.png) repeat-x top left;}
.wrapper_banner .banner-flex { width:100%; background:url(http://www.freshlifefloral.com/images/banner-flex.jpg) center top no-repeat}
#slides_banner li.gray-bg .banner-flex { width:100%; background:url(http://www.freshlifefloral.com/images/banner-flex-gray.jpg) center top no-repeat}
#slides_banner li img { border:0px; }
.banner-pic {float:left; width:450px;}
.banner-content {float:left; width:550px; margin-top:30px;}
.banner-content h3{ font-family: 'MyriadProCondensed', Arial; font-size:60px; color:#FFF;	line-height:45px;}
.banner-content p{ font-size:18px;  font-family:'MyriadProRegular', Arial; text-transform:uppercase; color:#fef500; margin-bottom:25px;}
.banner-content .meta{font-size:20px;  font-family: 'MyriadProCondensed'; color:#641b5f; text-align:justify  }
/* Styling for prev and next buttons */
#buttons_banner {z-index:9; position:absolute;  margin-top:-250px; left:49%; margin-left:-43px; width:96px; }
#buttons_banner a { display:block; width:48px; height:39px; text-indent:-999em; float:left; outline:0;}
a#prev { background:url(http://www.freshlifefloral.com/images/prev.png) 0 0 no-repeat; }
a#prev:hover {	background:url(http://www.freshlifefloral.com/images/prev_over.png) 0 0 no-repeat;}
a#next {background:url(http://www.freshlifefloral.com/images/next.png) 0 0 no-repeat; }
a#next:hover {background:url(http://www.freshlifefloral.com/images/next_over.png) 0 0 no-repeat;}
/*---- banner  ends ----*/



/*---- layout ----*/
.container{width:100%; padding:0px; margin:0px auto;  }
.content-container{ width:1000px; margin:-95px auto 0px; z-index:12; position:relative}


/*---- Services ----*/
.services{  width:247px; display:block; display:block; float:left; margin:0px 3px 0px 0px;}
.ser-top{ background:url(http://www.freshlifefloral.com/images/box-top.png) no-repeat; width:241px; height:5px; display:block; }
.ser-bot{ background:url(http://www.freshlifefloral.com/images/box-bot.jpg) no-repeat; width:241px; height:7px; display:block; float:left}
.ser-mid{ width:208px; float:left; background:url(http://www.freshlifefloral.com/images/box-rep.png) repeat-y top left; margin:0px 0px; padding:12px 15px 12px 18px; min-height:430px }
.ser-mid h3{ font-family: 'MyriadProCondensed', Arial; font-size:16px; color:#636263; line-height:25px; font-weight:normal}
.ser-mid p{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#636263; text-decoration:none; float:left; line-height:16px;}
.ser-mid .more{ display:block; font-size:12px; margin:10px 0px 0px 0px; float:left; color:#8b2b84; font-weight:bold;}
.ser-mid .more a{ text-decoration:none; color:#8b2b84;}  
.ser-mid .more a:hover{ text-decoration:underline;}
.abt-services{ float:right; display:block; margin:20px 12px -24px 0px; font-family: 'AngelinaRegular'; font-size:21px; color:#8b2b84; display:block; line-height:25px; width:400px; text-align:right}
.abt-services a{ text-decoration:none; color:#8a2b83;}
.abt-services a:hover{ text-decoration:none; color:#8a2b83;}
/*---- Services end ----*/


   
/*---- Certificate Slider ----*/
.slide-outer{ width:100%; margin:0 auto;}
.slide-outer .top{ background:url(http://www.freshlifefloral.com/images/slider-top.jpg) center no-repeat; height:49px; position:relative; margin-top:0px;}
.slide-outer .bot{ background:url(http://www.freshlifefloral.com/images/slider-bot.jpg) center no-repeat; height:49px; }
.slide-outer .mid{ width:991px; margin:0px auto; min-height:168px;}
.certificates{ width:73px; height:168px; float:left}
/*---- Certificate end ----*/



/*---- Thumbnail Slider ----*/
.thumb_java{ width:1000px; margin:-20px auto 0px} 
.thumb_java h4{ font-family:'MyriadProRegular', Arial; font-size:30px; font-style:italic; color:#636263; line-height:25px; font-weight:normal; text-align:center}
#carousel1 {	width:930px; height:210px; margin:0 auto;	overflow:hidden;}
#slides1 {overflow:hidden;/* fix ie overflow issue */ position:relative; width:900px; height:193px; margin-top:20px; margin-left:23px;}
/* remove the list styles, width : item width * total items */	
#slides1 ul {position:relative;	left:0;	top:0;	list-style:none; margin:0; padding:0;width:4000px;}
/* width of the item, in this case I put 250x250x gif */
#slides1 li { width:279px; height:193px; float:left; padding-right:25px; background:url(http://www.freshlifefloral.com/images/thum-java-shadow.jpg) bottom left no-repeat;}
#slides1 li img { border:0px; }
#slides1 li .thum-content{ width:279px; height:33px;}
#slides1 li .title{ font-family:Arial, Helvetica, sans-serif; font-size:11px; text-transform:uppercase; color:#7b7b7b; padding:11px 8px 5px; float:left; line-height:14px;}
#slides1 li .details{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#a4ba3a; padding:10px 0px 0px 0px; float:right; }
#slides1 li .details a{ text-decoration:none; color:#a4ba3a }
/* Styling for prev and next buttons */
#buttons {padding:0 0 5px 0px; float:left; z-index:9999; position:absolute; margin-left:-2px;  margin-top:-160px;}
#buttons a { display:block; width:24px; height:78px; text-indent:-999em; float:left; outline:0;}
a#prevS3 {background:url(http://www.freshlifefloral.com/images/left_arrow.png) 0 0 no-repeat; margin-right:932px; margin-left:-18px }
a#prevS3:hover {	background:url(http://www.freshlifefloral.com/images/left_arrow_hover.png) 0 0 no-repeat;}
a#nextS3 {background:url(http://www.freshlifefloral.com/images/right_arrow.png) 0 0 no-repeat; }
a#nextS3:hover {background:url(http://www.freshlifefloral.com/images/right_arrow_hover.png) 0 0 no-repeat;}
/*---- Thumbnail end ----*/


/*---- Testimonial ----*/
.main-outer{ width:100%; background:url(http://www.freshlifefloral.com/images/body_shadow_bot.jpg) no-repeat center top; margin-top:10px;}
.main{ width:1000px; margin:0px auto; padding:35px 0px;}
.main-testimonial{ width:560px; float:left; }
.main-testimonial h3{ font-family: 'MyriadProCondensed', Arial; font-size:28px; color:#7f7f7f; line-height:25px; font-weight:bold; padding-left:10px;}
.main-testimonial p.head{font-family: 'AngelinaRegular'; font-size:24px; color:#000; display:block; margin-left:10px }
.main-testimonial .testi-content{ width:510px; border-bottom:#882569 1px dotted; padding:15px 20px; margin-bottom:20px;}
.main-testimonial .testi-content p{font-family: 'futura_stdLtCnOb'; padding:0px 30px; line-height:23px; font-size:20px; display:block; color:#666666;}
.main-testimonial .testi-content .name{ float:left; display:block; padding:8px;}
.main-testimonial .testi-content .head{ color:#882569; font-family:Arial, Helvetica, sans-serif; font-size:13px; padding-left:20px}
.main-testimonial .testi-content .grey{ color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-style:italic}
.main-testimonial .testi-content p.left-sign{ background:url(http://www.freshlifefloral.com/images/test-left.png) top left no-repeat; }
.main-testimonial .testi-content p .right-sign{ width:19px; height:18px; line-height:18px; display:inline-block; background:url(http://www.freshlifefloral.com/images/right-test.png) right 0 no-repeat;}
/*---- Testimonial end ----*/




/*---- Buying ----*/
.main-buying{ width:375px; float:left; margin-left:40px; background:url(http://www.freshlifefloral.com/images/flower.jpg) bottom right no-repeat; display:block; min-height:380px;}
.main-buying .buy-image{ float:left; display:block; width:375px;  }
.main-buying .buy-content{ display:block; width:300px;}
.main-buying .buy-content p{font-family: 'AngelinaRegular'; font-size:24px; color:#000; display:block; margin-left:10px; }
/*---- Buying end ----*/




/*----------------------------------------- About Us Starts ----------------------------------------------*/
.aboutus-banner { width:100%; background:url(http://www.freshlifefloral.com/images/bg-about-banner.jpg) repeat-x top left; min-height:500px; display:block;}
.aboutus-banner .banner-about{ width:1000px; margin:0px auto; background:url(http://www.freshlifefloral.com/images/about-banner-flex.jpg) center top no-repeat; height:267px; }
.ban-image{ width:485px; height:267px; margin-left:38px; float:left;}
.ban-content{ width:470px; float:left; margin-top:60px;}
.ban-content h3{ font-family: 'MyriadProCondensed', Arial; font-size:32px; color:#FFF;	line-height:45px;}
.ban-content p{ font-size:22px;  font-family: 'MyriadProCondensed', Arial; color:#fef500; margin-bottom:25px; line-height:20px;}


.inner-content{ margin-top:-200px}
.brad { color:#999999; margin-bottom:30px;}
.brad a{ text-decoration:none; color:#993399; padding:0px 3px;}
.brad a.no-active{ color:#999999}
.brad a:hover{ text-decoration:underline; color:#993399; padding:0px 3px;}
.brad a.no-active:hover{ color:#999999; text-decoration:underline}

.left-container{ width:686px; float:left}
.left-container .top{ width:686px; height:40px; background:url(http://www.freshlifefloral.com/images/abt-top.jpg) no-repeat top left; margin-top:-32px; float:left; display:none;}
.left-container .bot{ width:686px; height:40px; background:url(http://www.freshlifefloral.com/images/left-bot.jpg) no-repeat top left; margin-bottom:0; float:left}
.left-container .left-mid{ width:686px; background:url(http://www.freshlifefloral.com/images/mid-left.jpg) top repeat-y ; display:block; }
.left-container .left-mid .content_area{ width:638px; padding-right:30px; display:block; float:left}
.left-container .left-mid .content_area h2{ font-size:25px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#a4ba3a; line-height:35px; border-bottom:#e5e5e5 1px solid; margin-bottom:30px;}
.left-container .left-mid .content_area p{ font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color:#000; margin-bottom:20px;}
.left-container .left-mid .content_area p a{color:#000;}
.left-container .left-mid .content_area ol{ padding:0px 25px 30px 35px; }
.left-container .left-mid .content_area ol li{ font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; color:#000; margin-bottom:20px;}
.left-container .left-mid .content_area ol li a {color:#000;}

.left-container .left-mid .content_area ul{ }
.left-container .left-mid .content_area ul li{ font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; color:#000; margin-bottom:10px;}

.left-container .left-mid .content_area ul li a{ text-decoration:none; color:#000000 }
.left-container .left-mid .content_area ul li a:hover{ text-decoration:underline; color:#000000 }


.left-container .left-mid .content_area2{ width:638px; padding-right:30px; display:block; float:left}
.left-container .left-mid .content_area2 h2{ font-size:25px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#a4ba3a; line-height:35px; border-bottom:#e5e5e5 1px solid; margin-bottom:30px;}
.left-container .left-mid .content_area2 p{ font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color:#000; margin-bottom:20px;}
.left-container .left-mid .content_area 2p a{color:#000;}
.left-container .left-mid .content_area2 ol{ padding:0px 25px 30px 35px; }
.left-container .left-mid .content_area2 ol li{ font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; color:#000; margin-bottom:20px;}
.left-container .left-mid .content_area2 ol li a {color:#000;}

.left-container .left-mid .content_area2 ul{ }
.left-container .left-mid .content_area2 ul li{ font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; color:#000; }
.left-container .left-mid .content_area2 ul li a{ text-decoration:none; color:#000000 }





li.item { list-style:none; float:left; overflow:hidden; position:relative; padding: 0 !important;
    transition: box-shadow 0.3s ease 0s;}
	
li.item img { padding:0px !important; border:0px; !important }	
li.item:hover{ border-bottom: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    margin: 0 -1px -1px 0;
    overflow: hidden;
    position: relative;
	}



li.item a img {
    border-left: 1px solid #DCDCDC;
    border: 1px solid #DCDCDC;
    left: 0;
    position: absolute;
    top: 0;
}
li.item li:hover, li.item:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
}

.right-container{ width:273px; float:left; margin-bottom:30px}
.right-container h2{color: #7F7F7F; font-family: 'MyriadProCondensed',Arial; font-size: 28px; font-weight: bold;  line-height:25px;}
.right-container .testi-inner{width:270px; padding:15px 0px; margin-bottom:20px;}
.right-container .testi-inner p{font-family: 'futura_stdLtCnOb'; padding:0px 30px 0; line-height:22px; font-size:20px; display:block; color:#666666;}
.right-container .testi-inner p.left-sign{ background:url(http://www.freshlifefloral.com/images/test-left.png) top left no-repeat; }
.right-container .testi-inner p .right-sign{ width:19px; height:18px; line-height:18px; display:inline-block; background:url(http://www.freshlifefloral.com/images/right-test.png) right bottom no-repeat; position:relative}
.right-container .testi-inner .name_inner{ float:right; display:block; padding:15px 8px 8px; text-align:right}
.right-container .testi-inner .head_inner{ color:#882569; font-family:Arial, Helvetica, sans-serif; font-size:13px;}
.right-container .testi-inner .grey_inner{ color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-style:italic}

.right-container .form-top{ width:259px; float:left; background:url(http://www.freshlifefloral.com/images/form-top-bg.jpg) no-repeat top left; height:9px;}
.right-container .form-mid{ background:#f3f3f3; width:239px; padding:0px 10px 25px 10px;}
.right-container .form-mid h4{ font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#8b2b85; margin-bottom:10px;} 
.right-container .form-mid .input_box_inner{ background:url(http://www.freshlifefloral.com/images/inner-input-bg.jpg) no-repeat; width:239px; height:31px; float:left; margin-bottom:10px;}
.right-container .form-mid .input_text_inner{width: 229px; height: 24px; color: #818181; font-size: 12px; line-height:20px; padding:4px 5px; background: none; border: none;}
.right-container .form-mid .area_box_inner{ background:url(http://www.freshlifefloral.com/images/inner-area-bg.jpg) no-repeat; width:239px; height:141px; float:left; margin-bottom:10px;}
.right-container .form-mid .area_text_inner{ font-family:Arial, Helvetica, sans-serif; width:229px; height:133px; color: #818181; font-size: 12px; line-height:20px; padding:4px 5px; background: none; border: none; overflow:auto; resize:none }
.right-container .form-bot{ width:259px; float:left; background:url(http://www.freshlifefloral.com/images/form-bot-bg.jpg) no-repeat top left; height:9px;}
.right-container .submit-btn { background:url(http://www.freshlifefloral.com/images/submit_form.jpg) no-repeat top left; width:86px; height:30px; cursor:pointer; border:0;}

/*----------------------------------------- About Us ends ----------------------------------------------*/



/*----------------------------------------- Our Flowers Starts ----------------------------------------------*/
.flower_details{ width:100%; float:left; margin-bottom:30px;}
.flower_details p { text-align:justify; }
.flower-pic{ padding:5px; width:147px; height:75px; border:#dddddd 1px solid; margin-right:20px; }
.flower-pic-1{ padding:5px; width:147px; height:150px; border:#dddddd 1px solid; margin-left:20px; }
.flower_details a{ text-decoration:none; color:#000} .flower_details a:hover{ text-decoration:underline; color:#000}


/*---- Pagination Starts ----*/
.pagination{ width:500px; float:left; margin-top:40px;}
.page-text{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#000; font-size:14px; margin:10px 10px 0px 0px;}
.pagination ul{ margin:0px; padding:0px;} 
.pagination ul li{ float:left; display:block; background:url(http://www.freshlifefloral.com/images/page-img.jpg) left top no-repeat; width:32px; height:35px; text-align:center;}
.pagination ul li a{ text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#a7a7a7; display:block; 
padding:11px 0px;}
.pagination ul li a:hover{ background:url(http://www.freshlifefloral.com/images/page-over.jpg) top left no-repeat; color:#000000 }
.pagination ul li a.active{ background:url(http://www.freshlifefloral.com/images/page-over.jpg) top left no-repeat; color:#000000 } 
/*---- Pagination Ends ----*/

/*----------------------------------------- Our Flowers ends ----------------------------------------------*/

.sitemap ul{ padding:0px 30px; margin:0px; }
.cont-mail { padding:15px 0 0}
.cont-mail a { text-decoration:underline; color:#993399;} 
.cont-mail a:hover {text-decoration:none}



/*----------------------------------------- request proposal starts ----------------------------------------------*/
.request-praposal{width:330px;  display:block;}
.request-praposal h2{display:block; background:url(http://www.freshlifefloral.com/images/request-heading-bg.png) no-repeat 0 -5px; color:#000;
font-family: 'AngelinaRegular'; font-size:24px; padding:5px 0 15px 0px;} 
.request-praposal span{color:red; font-family: 'AngelinaRegular'; font-size:24px; padding:0px 0 5px 0px; float:left;}
.request-praposal .input-box{padding:5px; color:#323232; border:none; font:12px/14px "MyriadProRegular" , Arial, Helvetica, sans-serif; width:320px; height:16px; margin-bottom:11px;}
.request-praposal .input-box1{padding:5px; color:#323232; border:0; font:12px/14px "MyriadProRegular" , Arial, Helvetica, sans-serif; width:150px; height:16px; margin-bottom:11px;}
.request-praposal .input-box-sign-in{padding:5px; color:#323232; border:0; font:12px/14px "MyriadProRegular" , Arial, Helvetica, sans-serif; width:325px; height:16px; margin-bottom:11px;}
.request-praposal .input-box3{padding:5px; color:#323232; border:none; font:12px/14px "MyriadProRegular" , Arial, Helvetica, sans-serif; width:90px; height:16px; margin-bottom:11px;}
.request-praposal .input-box4{padding:5px; color:#323232; border:none; font:12px/14px "MyriadProRegular" , Arial, Helvetica, sans-serif; width:210px; height:16px; margin-bottom:11px;}
.request-praposal textarea{border:none; padding:5px; color:#323232; font:12px/14px "MyriadProRegular" , Arial, Helvetica, sans-serif; width:320px; height:165px; margin-bottom:11px; overflow:hidden; resize:none; border:0}
.request-praposal p{color:#323232; font:12px/14px "MyriadProRegular" , Arial, Helvetica, sans-serif; padding-bottom:5px;}
.request-praposal p a{ color:#323232; text-decoration:none}
.request-praposal .captcha-section{width:100%; padding-bottom:10px;}
.request-praposal .captcha-section img{float:left;}
.request-praposal .captcha-section .captcha-input{float:left; border:none; padding:5px; color:#323232; font:15px/19px "MyriadProRegular" , Arial, Helvetica, sans-serif; width:185px; height:20px; background:#fff; margin-left:10px;}
#captcha_question{color:#323232; font:15px/19px "MyriadProRegular" , Arial, Helvetica, sans-serif; padding-top:15px; display:block}
.send-captcha-button{background:url(http://www.freshlifefloral.com/images/submit.gif) no-repeat 0 0; width:91px; height:27px; border:none;display:block;}
.send-captcha-button-sign-in{background:url(http://www.freshlifefloral.com/images/sign-in.jpg) no-repeat 0 0; width:120px; height:27px; border:none;display:block;}
.send-captcha-button-sign-up{background:url(http://www.freshlifefloral.com/images/sign-up.jpg) no-repeat 0 0; width:120px; height:27px; border:none;display:block;}
.captcha-text-input{float:left; border:none; padding:5px; color:#323232; font:15px/19px "MyriadProRegular" , Arial, Helvetica, sans-serif; width:185px; height:20px; background:#fff; margin-left:10px;}
.rem{ width:335px; float:left; margin-bottom:5px}
/*----------------------------------------- request proposal ends ----------------------------------------------*/


/* browse file */
.fileinputs {position:relative; height:31px; overflow:hidden; width:206px;}
.fakefile {position: absolute;top: 0px;left: 0px; z-index: 999;}
.fakefile img {position:relative; z-index:999999;}
.fileinputs .file {position:relative; text-align:right; -moz-opacity:0 ;filter:alpha(opacity: 0);opacity: 0;	z-index: 200; width:74px;cursor:pointer;height:30px;z-index:9999;}
.fileinputs .hidden{float:right;}
.fakefile input{background:#fff; border:0; height:19px; padding:5px 2px; width:128px; color:#14242d; font-size:14px; font:12px/14px "SeabirdLightSF" , Arial, Helvetica, sans-serif; float:left; display:block; border:1px solid #ccc; border-right:none;}
/* browse file ends here */

/*----------------------------------------- contact us starts ----------------------------------------------*/
.contact-form {padding:0}
.contact-form .form-row {padding:0 0 10px}
.contact-form .form-row label {float:left; width:150px; padding:6px 0 0}
.contact-form .form-row label span {color:red}
.contact-form .form-row .right-form {float:left}
.contact-form .form-row .right-form .textbox-bg { background: url("http://www.freshlifefloral.com/images/inner-input-bg.jpg") no-repeat scroll 0 0 transparent; float:left; height:31px; width:239px;}
.contact-form .form-row .right-form .textbox-bg input{background: none repeat scroll 0 0 transparent; border:0; color: #818181; font-size: 12px; height: 24px; line-height: 20px; padding: 4px 5px; width:229px;}
.contact-form .form-row .right-form .textarea-bg {background: url("http://www.freshlifefloral.com/images/inner-area-bg.jpg") no-repeat scroll 0 0 transparent; float: left; height: 141px; margin-bottom: 10px; width: 239px;}
.contact-form .form-row .right-form .textarea-bg textarea {  background: none repeat scroll 0 0 transparent;   border:0; color: #818181; font-family: Arial,Helvetica,sans-serif; font-size: 12px; height: 133px; line-height: 20px; overflow: auto; padding: 4px 5px; resize: none; width: 229px;}
.banner-content.expand {float:left; width:1000px; margin-top:10px; text-align:center}
.banner-content.expand h3 { font-size:45px; padding-top:12px; padding-bottom:7px; color:#a3b939;}
.banner-content.expand .meta { text-align:center; font-size:24px; line-height:26px; text-transform:none; margin-bottom:40px;}
.banner-content.expand .meta.padding2 { margin-bottom:24px;}
.contact-form .form-row .submit {background: url("http://www.freshlifefloral.com/images/submit_form.jpg") no-repeat 0 0; float: left; height:30px; cursor:pointer; width:86px; border:0;}

#letters {
padding:4px;
width:512px;
float:left;
}
.notin
{
   text-decoration:none;
   color:#787878;
   font-weight:bold;
   padding-right:8px;
   font-size:11px;
}
#letters a,.all a
{
text-decoration:none;
color:#8b2b85;
font-weight:bold;
margin-right:8px;
font-size:11px;    
}
.all
{
padding:4px;
}

#letters a:hover,.all a:hover,#letters a.active,.all a.active
{
  color:#7c8d2c;
}  

/*----------------------------------------- contact us ends ----------------------------------------------*/
.success {font-size:14px; font-family:Arial, Helvetica, sans-serif; color:green}
.error {font-size:14px; font-family:Arial, Helvetica, sans-serif; color:red}

.fright
{
   font-family:Tahoma; font-size:12px; color:#681709; text-align:justify;
   clear:both;
   text-align:center;
}
.linkwhite
{
  color:#7f7f7f;
  font-weight:bold;
}
.link-page
{
   color:#8b2b85;
   font-weight:bold;
}
.link-sample
{
   color:#7f7f7f;
   text-decoration:none;
   font-weight:bold;
}
.combo
{
   padding:4px;
   border:1px solid #dddddd;
   width:150px;
   color:#8b2b85;
   font-family:Verdana, Arial, Helvetica, sans-serif;
   font-size:12px;
   padding-left:2px;
}
.notfound
{
   text-align:center;
   font-weight:bold;
   color:#8b2b85;
}
.product-left
{
  float:left;
  width:275px;
}
.product-left img
{
  border: 1px solid #DEDEDE;
  padding: 5px;
}
.product-right
{
  float:right;
  width:340px;
  margin-left:15px;
}
.container {width: 340px;}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #dedede;
	border-left: 1px solid #dedede;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #dedede;
	border-left: none;
	margin-bottom: -1px;
	background: #f0f0f0;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	font-family: 'MyriadProRegular',Arial;
    font-size: 17px;
    font-weight: normal;
	color:rgb(139, 43, 133) !important;
	display: block;
	padding: 0 17px;
	border: 1px solid #fff;
	outline: none;
	height:100%;
	padding-top:5px;
	font-weight: bold;
}
ul.tabs li a:hover {
	background: #ccc;
	text-decoration:none !important;
}	
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.tab_container {
	border: 1px solid #dedede;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.8em;
}
.tab_content h3 a{
	color: #254588;
}
.tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	border: 1px solid #ddd;
	padding: 5px;
}
.right-container .testi-inner p .right-sign {
    background: url("http://www.freshlifefloral.com/images/right-test.png") no-repeat scroll right bottom transparent;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    position: relative;
    width: 19px;
}
